/*CE FICHIER CSS EST EXCLUSIVEMENT POUR LA PAGE INDEX
Il n'est pas nécéssaire de recopier son contenu sur les autres fichier CSS
 */

section > div > h1 {
    position: relative;
}

section > div > h1:before {
    content: "";
    position: absolute;
    left: -2em;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 4px;
    width: 3em;
    background-color: black;
    border-radius: 4px;
}

section > div > h1:after {
    content: "";
    position: absolute;
    right: -2em;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    height: 4px;
    width: 3em;
    background-color: black;
    border-radius: 4px;
}

section > h2 {
    margin: 0.4em;
    margin-bottom: 0.7em;
}

section > article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*margin-left: 3em;*/
    transition-duration: 100ms;
}

section > article:hover {
    transition-duration: 100ms;
    transform: scale(1.10);
}

section > article > h3 {
    /*margin: -1em;*/
    margin-bottom: 0.45em;
}

section > article > img {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    height: 7em;
    margin-right: 0.5em;
    margin-bottom: 2em;
    /*transition-duration: 100ms;*/
}

/*.meilleures > section {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

.carte {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    height: 20em;
    margin: 0 1.5em;
    margin-bottom: 3em;
    transition-duration: 100ms
}

.carte:hover > img {
    transition-duration: 100ms;
    transform: scale(1.10) translateY(-30%);
}

.carte > h2 {
    position: absolute;
    left: 0.8em;
    top: 0.5em;
    color: white;
    -webkit-text-stroke: 3.5px;
    -webkit-text-stroke-color:#444444;
}
.carte > button {
    position: absolute;
    right: 0.6em;
    bottom: 0.6em;
}

.carte > button > a {
    color: #283655;
}

.carte > button > a:hover {
    background-color: #283655;
    color: #d0e1f9;
}

.carte >img {
    position: absolute;
    left: 0;
    /*max-height: 20em;*/
    max-width: 100%;
    transform: translateY(-30%);
    transition-duration: 100ms;
}

.carousel {
    margin-bottom: 2.7em;
    overflow: hidden;
}

.carousel > div > button {
    border-radius: 0;
}

.carousel-control-prev:hover {
    background: none;
    border: none;
}

.carousel-control-next:hover {
    background: none;
    border: none;
}

* {
    /*border: 1px dotted red;*/
}

@media screen and (max-width: 576px) {
    /*header > section > nav > div > button:hover {*/
    /*    background: none;*/
    /*}*/

    section > div > h1 {
        font-size: 3em;
    }

    section > div > h1:before {
        display: none;
    }

    section > div > h1:after {
        display: none;
    }

    section > h2 {
        font-size: 2em;
        text-align: center;
    }

    section > article > img {
        /*margin: 0 2em;*/
        margin-bottom: 2em
    }

    .carte {
        height: 12em;
    }

    .carte > h2 {
        font-size: 2em;
        -webkit-text-stroke: 2.8px;
        -webkit-text-stroke-color:#444444;
    }

    section > article {
        /*margin-left: 1em;*/
    }

    .carousel {
        margin-bottom: 1.8em;
    }

    .carousel-control-prev:hover {
        background: none;
        border: none;
    }

    .carousel-control-next:hover {
        background: none;
        border: none;
    }

    .separateur {
        position: relative;
        margin-top: 0.5em;
        margin-bottom: 2em;
    }

    .separateur:after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        background-color: black;
        width: 40%;
        height: 4px;
        border-radius: 20px;
    }
}

/*@media screen and (min-width: 576px) and (max-width: 768px) {*/

/*    header > section > nav > div > button:hover {*/
/*        background: none;*/
/*    }*/

/*    section > div > h1 {*/
/*        font-size: 3em;*/
/*    }*/

/*    section > div > h1:before {*/
/*        left: -1em;*/
/*        width: 1.5em;*/
/*    }*/

/*    section > div > h1:after {*/
/*        right: -1em;*/
/*        width: 1.5em;*/
/*    }*/

/*    section > h2 {*/
/*        font-size: 2em;*/
/*        text-align: center;*/
/*    }*/

/*    section > article > img {*/
/*        margin: 0 2em;*/
/*        margin-bottom: 2em*/
/*    }*/

/*    .carte {*/
/*        height: 13.5em;*/
/*    }*/

/*    .carte > h2 {*/
/*        font-size: 2em;*/
/*        -webkit-text-stroke: 2.8px;*/
/*        -webkit-text-stroke-color:#444444;*/
/*    }*/

/*    section > article {*/
/*        margin-left: 3em;*/
/*    }*/

/*    .carousel-control-prev:hover {*/
/*        background: none;*/
/*        border: none;*/
/*    }*/

/*    .carousel-control-next:hover {*/
/*        background: none;*/
/*        border: none;*/
/*    }*/

/*}*/