main {
    text-align: center;
}

header {
    margin-bottom: 3em;
}

main > section {
    margin-bottom: 4em;
}

main > section > div > h2 {
    margin-bottom: 1em;
}

main > section > article {
    background-color: #1e1f26;
    color: #d0e1f9;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 24em;
}

.cadre-image {
    background-color: white;
}

main > section > article > div {
    overflow: hidden;
    border-radius: 20px;
}

/*main > section > article > div > img {*/
/*    transform: translateY(-25%);*/
/*}*/

figure > img {
    max-width: 100%;
    height: 14em;
    border-radius: 20px;
}

.no_padding > article > div {
    border-radius: 20px;
    overflow: hidden;
    height: 24em;
}

.no_padding > article > div > img {
    max-height: 100%;
    transform: translateY(-25%);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section > div > h2 {
    position: relative;
}

div > h2 {
    position: relative;
    text-align: center;
    margin-bottom: 1em;
}

div > h2:before {
    content: "";
    position: absolute;
    left: -2em;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 4px;
    width: 3em;
    background-color: black;
    border-radius: 4px;
    display: block;
}

div > h2:after {
    content: "";
    position: absolute;
    right: -2em;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    height: 4px;
    width: 3em;
    background-color: black;
    border-radius: 4px;
    display: block;
}

.cadre-image > div {
    width: 100%;
    height: 100%;
}

.cadre-image > div > img {
    height: 100%;
    border-radius: 20px;
}

@media screen and (max-width: 576px) {
    main > section {
        margin-bottom: 1.5em;
    }

    main > section > article:first-of-type {
        height: auto;
        padding: 2em 1em;
    }

    footer {
        margin-top: 5em;
    }

    div > h2 {
        font-size: 2.5em;
        text-align: center;
    }

    div > h2:before {
        display: none;
    }

    div > h2:after {
        display: none;
    }

    main > section > article {
        margin-bottom: 2em;
    }

    .cadre-image > div > img {
        transform: translateX(-10%);
    }

    .separateur {
        position: relative;
        margin-bottom: 4em;
    }

    .separateur:after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        background-color: black;
        width: 40%;
        height: 4px;
        border-radius: 20px;
    }

    .carousel-item > article {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .carousel-control-prev:hover {
        background: none;
        border: none;
    }

    .carousel-control-next:hover {
        background: none;
        border: none;
    }

    figure {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    figure > figcaption {
        margin-top: 0.5em;
        font-size: 1.3em;
    }
}

