main{
    text-align: center;
}

main section, h2, header{
    margin-bottom: 80px;
}

.fondSection{
    border-bottom: 40px;
    background-color: #1e1f26;
    color: #d0e1f9;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

main img{
    border-radius: 20px;
}

main > section > article > img{
    height: 469px;
}

figure img{
    height: 300px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section > div > h2 {
    position: relative;
}

section > div > h2:before {
    content: "";
    position: absolute;
    left: -2em;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 4px;
    width: 3em;
    background-color: black;
    border-radius: 4px;
}

section > div > h2:after {
    content: "";
    position: absolute;
    right: -2em;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    height: 4px;
    width: 3em;
    background-color: black;
    border-radius: 4px;
}

