main{
    text-align: center;
}

main section, h2, header{
    margin-bottom: 80px;
}


.fondSection{
    border-bottom: 40px;
    background-color: #1e1f26;
    color: #d0e1f9;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

main img{
    border-radius: 20px;
}

.taille{
    height: 469px;
    margin-bottom: 40px;
}

main > section > div > article > img{
    height: 469px;
}

figure img{
    height: 300px;
}
.no_padding{
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section > div > h2 {
    position: relative;
}



section > div > h2:before {
    content: "";
    position: absolute;
    left: -2em;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 4px;
    width: 3em;
    background-color: black;
    border-radius: 4px;
}

section > div > h2:after {
    content: "";
    position: absolute;
    right: -2em;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    height: 4px;
    width: 3em;
    background-color: black;
    border-radius: 4px;
}

@media screen and (max-width: 576px) {

    section > div > h2:before {
        left: -0.5em;
        width: 1em;
    }

    section > div > h2:after {
        right: -0.5em;
        width: 1em;
    }
    section > div > h2 {
        font-size: 2em;
    }
    .taille{
        height: 420px;
        margin-bottom: 40px;
    }
    
    main > section > div > article > img{
        height: 420px;
    }

}