main{
    text-align: center;
}

main section{
    margin: 80px 0;
}

h2{
    margin-bottom: 80px;
}

.fondSection{
    background-color: #1e1f26;
    color: #d0e1f9;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

main img{
    border-radius: 20px;
}

main > section > article > img{
    height: 469px;
}

figure img{
    height: 300px;
}

